@import 'base/variables';
@import 'base/font';
@import 'base/mixins';

.form-wrap.form-builder {
  @import 'base/bs';
  @import 'base/animation';
  @import 'controls';
  @import 'stage';
  @import 'kc-toggle';
  position: relative;

  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.cb-wrap,
.stage-wrap {
  vertical-align: top;

  &.pull-right {
    float: right;
  }

  &.pull-left {
    float: left;
  }
}

.form-elements,
.form-group,
.multi-row span,
textarea {
  display: block;
}

.form-elements::after,
.form-group::after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.form-elements .field-options div:hover,
.frmb .legend,
.frmb .prev-holder {
  cursor: move;
}

// tooltips
.frmb-tt {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid darken($grey, 25%);
  background-color: $grey;
  border-radius: 5px;
  padding: 5px;
  color: $white;
  z-index: 20;
  text-align: left;
  font-size: 12px;
  pointer-events: none;

  &::before {
    border-color: darken($grey, 25%) transparent;
    bottom: -11px;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 10px 0;
    border-color: $grey transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -10px;
    bottom: -10px;
    left: 20px;
  }

  a {
    text-decoration: underline;
    color: $white;
  }
}

.frmb li {
  &:hover,
  .fb-mobile & {
    .del-button,
    .toggle-form {
      opacity: 1;
    }
  }
}

.frmb-xml .ui-dialog-content {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 12px;
  padding: 0 30px;
  margin-top: 0;
}

.toggle-form {
  opacity: 0;

  &:hover {
    border-color: lighten($grey, 40%);
  }

  &::before {
    margin: 0;
  }
}

.formb-field-vars .copy-var {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: $grey-light-30;
  text-indent: -9999px;
}

.ui-button {
  .ui-button-text {
    line-height: 0;
  }
}

.form-builder-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $overlay-color;
  display: none;
  z-index: 10;

  &.visible {
    display: block;
  }
}

.form-builder-dialog {
  position: absolute;
  border-radius: 5px;
  background: $white;
  z-index: 20;
  transform: translate(-50%, -50%);
  top: 0;
  left: 0;
  padding: 10px;
  box-shadow: 0 3px 10px $black;
  min-width: 166px;
  max-height: 80%;
  overflow-y: scroll;

  h3 {
    margin-top: 0;
  }

  &.data-dialog {
    width: 65%;
    background-color: $dirt-gray;

    pre {
      background: none;
      border: 0 none;
      box-shadow: none;
      margin: 0;
      color: darken($white, 5%);
    }
  }

  &.positioned {
    transform: translate(-50%, -100%);

    .button-wrap {
      &::before {
        content: '';
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 10px solid $white;
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, 10px);
      }
    }
  }

  .button-wrap {
    position: relative;
    margin-top: 10px;
    text-align: right;
    clear: both;

    .btn {
      margin-left: 10px;
    }
  }
}

.tab-elements {
    border-bottom: 1px solid #dddddd;
    list-style: none;
    height: 32px;
    margin-top: 20px;
}

.tab-elements > li {
    display: inline;
    margin-bottom: -1px;
    list-style: none;
}

.form-elements select.fld-shape.form-control{
    overflow: auto;
}

.tab-elements > li > a {
    background-color: #e7e7e7;
    color: #222222;
    margin-right: 2px;
    line-height: 1.4;
    border: 1px solid transparent;
    border-radius: 0 0 0 0;
    position: relative;
    padding: 10px 15px;
}

.tab-elements > li > a:hover {
    color: #6f6f6f;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
    cursor: default;
}

.hideTab{
    display: none;
}

.tab-elements > li > a.selectedTab {
    background-color: #aaa;
}

.form-wrap.form-builder .frmb .form-elements.tab-conditional label:first-child{
    width: 30%;
}

.form-wrap.form-builder .frmb .form-elements.tab-conditional .input-wrap {
    width: 68%;
}

.LayoutSection {
    border: 1px solid #eee;
}

.LayoutSectionHeader {
    background-color: #ddd;
    padding: 6px;
}

.LayoutSectionBody {
    padding: 15px;
}

.LayoutSectionWrappedTop {
    border-top: none;
}

.LayoutSectionWrappedBottom {
    border-bottom: none;
}

.LayoutPage {
    border: 1px solid #eee;
    height: 400px;
}

.LayoutPageHeader {
    background-color: #ddd;
    padding: 6px;
}

.LayoutPageBody {
    width: 100%;
    height: 100%;
}

.LayoutPageBody > div {
    display: inline-block;
    width: 20px;
}

.LayoutPageBody > div.LayoutPageThumbnails {
    width: 160px;
}

.LayoutPageThumbnails{
    height: 100%;
}

.LayoutPageThumbnails > div {
    height: 100%;
    overflow-y: auto;
    padding: 20px;
    background: #eee;
}

.LayoutPageThumbnails > div > div {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    height: 160px;
    text-align: center;
    vertical-align: middle;
    padding-top: calc(50% + 15px);
    cursor: pointer;
}
.LayoutPages {
    height: 100%;
}

.LayoutPageBody > div.LayoutPages {
    width: calc(100% - 180px);
}

.LayoutPages > div {
    height: 100%;
    overflow-y: auto;
    padding: 20px;
    background: #eee;
}

.LayoutPages > div > div {
    background: white;
    padding: 10px;
    margin-bottom: 20px;
    height: 800px;
}

.LayoutPages > div > div:last-child {
    margin-bottom: 0;
}

.LayoutPages > div > div > ul {
    background: #eee;
    height: 100%;
    padding: 10px;
}

.LayoutTable {
    width: 100%;
}

.LayoutTable td {
    border-top: 1px solid #dddddd;
    vertical-align: top;
    padding: 8px;
}

.LayoutTableBordered,
.LayoutTableBordered td {
    border: 1px solid #dddddd;
}